/* GLOBAL */

/* RESET */
*,
*::before,
*::after {
	box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	font-weight: 400;
}

body {
	line-height: 1.5;
	min-height: 100vh;
}

ul {
	list-style: none;
}

img,
picture {
	max-width: 100%;
	display: block;
}

input,
button,
textarea,
select {
	font: inherit;
}

@media (prefers-reduced-motion: reduce) {
	*. *::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

/* CLASSES  */

.hex-box {
}

.hex-lines {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.lines {
	display: block;
	padding: 5px 0px;
	margin-right: auto;
	margin-left: auto;
	width: 10em;
	height: 1.5em;
}

.changing-box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 50px 20%;
	text-align: center;
}

.changing-line > h3 {
	color: #a10e22;
}

/* ID'S */

#header {
	display: flex;
	justify-content: center;
	width: 100vw;
}

#form {
	margin: 10px 0px 20px;
}

#question {
	width: 50%;
	border: 0;
	border-bottom: 2px solid #070606;
	outline: 0;
	text-align: center;
	background-color: #ffffff;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

#button {
	width: 220px;
	height: 40px;
	border-radius: 5px;
	border: 2px solid #070606;
	background-color: #ffffff;
	color: #070606;
	display: block;
	margin-top: 20px;
	margin-right: auto;
	margin-left: auto;
}
